name: Build MineZero (Fabric)

on:
  push:
    branches: [ "1.21.1-fabric", "main" ]
  pull_request:
    branches: [ "1.21.1-fabric", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew build

      - name: Capture build artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: MineZero-Fabric-Artifacts
          path: build/libs/*.jar
          retention-days: 5